@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,600,700,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Rubik:regular,600&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
input:focus {
  outline: 0
}
* {
  -webkit-tap-highlight-color: transparent
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Roboto,sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Roboto,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top;
  -o-object-fit: cover;
  object-fit: cover
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
details summary {
  list-style: none
}
details summary::-webkit-details-marker {
  display: none
}
input {
  border-radius: 0
}
input[type=search] {
  -webkit-appearance: none
}
body {
  background-color: #010101;
  font-size: 1.5rem
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 86.125rem;
  margin: 0 auto;
  padding: 0 1.25rem
}
.select {
  min-width: 0;
  position: relative;
  flex-shrink: 0
}
.select__body {
  position: relative
}
.select__title {
  color: inherit;
  text-align: left;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: .25rem;
  border: .0625rem solid rgba(0,0,0,.1);
  transition: all .3s
}
._select-open .select__title {
  background-color: #3a3ba9;
  color: #fff
}
.select__title ._select-open:not(.select--show-top) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}
._select-open.select--show-top .select__title {
  border: .0625rem solid rgba(0,0,0,.1);
  border-top-left-radius: 0;
  border-top-right-radius: 0
}
.select__value {
  display: flex;
  min-width: 0;
  align-items: center;
  justify-content: space-between;
  padding: .5625rem .25rem;
  gap: .625rem;
  font-size: 1rem;
  line-height: 1.83
}
.select__value>* {
  flex: 1 1 auto
}
.select__value:after {
  content: "";
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all .3s 0s;
  display: block;
  font-size: .5625rem
}
._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  color: #fff
}
.select__content {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__text {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__input {
  width: 100%;
  background-color: rgba(0,0,0,0);
  height: 100%
}
.select__options {
  color: #000;
  position: absolute;
  top: calc(100% - .0625rem);
  min-width: 100%;
  left: 0;
  overflow: hidden;
  border-radius: 0 0 .25rem .25rem;
  border: .0625rem solid rgba(0,0,0,.1);
  border-top: 0;
  background: #fff
}
.select--show-top .select__options {
  border-radius: .25rem .25rem 0 0
}
._select-open.select--show-top .select__options {
  border-top: .0625rem solid rgba(0,0,0,.1);
  border-bottom: 0
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 12.5rem
}
.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: .625rem .3125rem;
  font-size: 1rem;
  line-height: 1.83;
  color: inherit;
  background-color: #fff
}
.select__option[hidden] {
  display: none
}
.select__row {
  display: flex;
  gap: .875rem;
  align-items: center
}
.select--show-top .select__options {
  top: auto;
  bottom: calc(100% - .0625rem)
}
._select-tag {
  cursor: pointer
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
[data-watch]:not(.benefits__item,.reasons__items,.reasons__item) {
  -webkit-transform: translateY(1.875rem);
  transform: translateY(1.875rem);
  opacity: 0;
  transition: opacity .5s ease,-webkit-transform .5s ease;
  transition: transform .5s ease,opacity .5s ease;
  transition: transform .5s ease,opacity .5s ease,-webkit-transform .5s ease
}
._watcher-view[data-watch]:not(.benefits__item,.reasons__items,.reasons__item) {
  -webkit-transform: none;
  transform: none;
  opacity: 1
}
.button {
  color: #010101;
  padding: .3125rem 1.25rem;
  display: inline-grid;
  transition: color .3s,background-color .3s,opacity .5s ease,-webkit-transform .5s ease;
  transition: color .3s,background-color .3s,transform .5s ease,opacity .5s ease;
  transition: color .3s,background-color .3s,transform .5s ease,opacity .5s ease,-webkit-transform .5s ease;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 3.125rem;
  gap: .28125rem 1.0625rem;
  background-color: #fe7011
}
.button__main {
  grid-column: span 2;
  font-weight: 500;
  font-size: 1.375rem
}
.button__label {
  font-size: 1.125rem;
  font-weight: 500;
  text-align: end;
  display: block;
  width: 100%
}
.button__icon {
  min-width: 0;
  position: relative;
  padding-left: 1.125rem;
  font-size: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  align-self: stretch;
  min-width: -webkit-max-content;
  min-width: max-content
}
.button__icon::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  background-color: #010101;
  width: .0625rem;
  height: 80.952381%
}
.button__icon svg {
  width: 1.9375rem;
  height: 1.1875rem
}
.button--liki {
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem
}
.button--liki .button__icon {
  position: relative;
  padding-left: .625rem
}
.button--liki .button__icon svg {
  width: 3.375rem;
  height: 1.1875rem
}
.button--liki .button__label {
  font-size: .875rem
}
.accent-color {
  color: #f7a41a
}
.title {
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center
}
.header {
  background-color: #010101;
  box-shadow: 0 .125rem .25rem 0 rgba(17,17,19,.4);
  padding: .5625rem 0;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100
}
.header__container {
  display: flex;
  align-items: center
}
.header__link {
  color: #fff;
  font-family: Roboto,sans-serif;
  font-size: .875rem;
  font-weight: 500;
  transition: color .3s
}
.header__logo {
  width: auto;
  flex-grow: 1;
  display: flex;
  justify-content: center
}
.header__logo img {
  aspect-ratio: 133/49;
  width: 8.3125rem
}
.header__menu {
  flex-grow: 1
}
.header__button {
  padding: 0;
  gap: .125rem .4375rem;
  background-color: rgba(0,0,0,0);
  justify-items: center
}
.header__button .button__main {
  font-size: .875rem;
  padding: .5rem .8125rem;
  border-radius: 3.125rem;
  background: #f7a41a;
  display: inline-block;
  justify-self: center;
  transition: background .3s
}
.header__button .button__label {
  font-size: .75rem;
  color: #fff
}
.header__button .button__icon {
  padding-left: .5rem;
  --text-color: #fff
}
.header__button .button__icon::before {
  background-color: #fff
}
.header__button .button__icon svg {
  width: 4rem;
  height: 1.3125rem
}
.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  max-width: 33.3125rem;
  overflow: auto;
  padding: 1.25rem 1.75rem;
  transition: left .3s;
  background-color: #010101;
  z-index: 2
}
.menu-open .menu {
  left: 0
}
.menu-open .menu::before {
  left: 0
}
.menu__body {
  display: flex;
  flex-direction: column;
  gap: 2.8125rem
}
.menu__body ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1.75rem;
  flex-grow: 0;
  -webkit-transform: translateX(-10%);
  transform: translateX(-10%);
  opacity: 0;
  transition: all .3s ease
}
.menu-open .menu__body ul {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  transition-delay: .2s
}
.menu__body ul:not(:last-child) {
  margin-bottom: 4.5rem
}
.menu__body ul li {
  color: #fcfcfc;
  font-family: Roboto;
  font-size: 1.125rem;
  line-height: 1.6;
  text-transform: uppercase
}
.menu__body ul li a {
  position: relative;
  z-index: 2;
  transition: all .3s
}
.menu__header {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  justify-content: space-between
}
.menu__title {
  color: #fff;
  font-family: Roboto,sans-serif;
  font-size: .75rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border: .09375rem solid #f7a41a;
  border-radius: 50%
}
.menu__close {
  position: relative;
  z-index: 2;
  width: .9375rem;
  height: .9375rem;
  font-size: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease,-webkit-transform .3s ease
}
.menu-open .menu__close {
  -webkit-transform: none;
  transform: none;
  transition-delay: .5s
}
.menu__close svg {
  width: 100%;
  height: 100%
}
.lang {
  position: relative
}
.lang a,
.lang span {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  cursor: pointer;
  background-color: #000;
  transition: all .3s;
  color: #fff;
  font-family: Roboto,sans-serif;
  font-size: 1rem;
  border: .0625rem solid #f7a41a;
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 50%
}
.lang__body {
  display: flex;
  gap: 1.25rem
}
.icon-menu {
  display: none
}
.menu-btn {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  color: #fff;
  font-family: Roboto,sans-serif;
  font-size: .875rem;
  font-weight: 500
}
.menu-btn__wrapper {
  display: flex;
  justify-content: center;
  align-items: center
}
.menu-btn__icon {
  display: block;
  position: relative;
  width: 1.25rem;
  height: .75rem;
  flex-shrink: 0
}
.menu-btn__icon span,
.menu-btn__icon::after,
.menu-btn__icon::before {
  content: "";
  transition: all .3s ease 0s;
  left: 0;
  position: absolute;
  width: 100%;
  height: .125rem;
  background-color: #fff
}
.menu-btn__icon::before {
  top: 0
}
.menu-btn__icon::after {
  bottom: 0
}
.menu-btn__icon span {
  top: calc(50% - .0625rem)
}
.footer {
  padding: 1.1875rem 1.25rem;
  background-color: #252525;
  color: #f7a41a;
  text-align: center;
  position: relative;
  z-index: 50;
  font-size: .9375rem
}
.page-home__hero {
  margin-bottom: 3.5rem
}
.page-home__pleasure {
  margin-bottom: 5rem
}
.page-home__stats {
  margin-bottom: 6.625rem
}
.page-home__info,
.page-home__reasons,
.page-home__video {
  margin-bottom: 5rem
}
.page-home__details {
  margin-top: 3.125rem;
  margin-bottom: 2.8125rem
}
.page-home__better {
  margin-bottom: 5rem
}
.hero__container {
  max-width: 98.875rem
}
.hero__logo {
  aspect-ratio: 436/161;
  -webkit-transform: translateX(-1.875rem);
  transform: translateX(-1.875rem);
  opacity: 0
}
._watcher-view .hero__logo {
  transition: opacity .5s ease,-webkit-transform .5s ease;
  transition: transform .5s ease,opacity .5s ease;
  transition: transform .5s ease,opacity .5s ease,-webkit-transform .5s ease;
  -webkit-transform: none;
  transform: none;
  opacity: 1
}
.hero__title {
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  -webkit-transform: translateX(-1.875rem);
  transform: translateX(-1.875rem);
  opacity: 0
}
._watcher-view .hero__title {
  transition: opacity .5s ease .2s,-webkit-transform .5s ease .2s;
  transition: transform .5s ease .2s,opacity .5s ease .2s;
  transition: transform .5s ease .2s,opacity .5s ease .2s,-webkit-transform .5s ease .2s;
  -webkit-transform: none;
  transform: none;
  opacity: 1
}
.hero__title:not(:last-child) {
  margin-bottom: 2.5rem
}
.hero__link {
  -webkit-transform: translateX(-1.875rem);
  transform: translateX(-1.875rem);
  opacity: 0
}
._watcher-view .hero__link {
  transition: opacity .5s ease .5s,-webkit-transform .5s ease .5s;
  transition: transform .5s ease .5s,opacity .5s ease .5s;
  transition: transform .5s ease .5s,opacity .5s ease .5s,-webkit-transform .5s ease .5s;
  -webkit-transform: none;
  transform: none;
  opacity: 1
}
.hero__image {
  min-width: 0;
  aspect-ratio: 1938/1174;
  position: relative
}
.hero__pills {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 68.665977%;
  aspect-ratio: 664/219;
  -webkit-transform: translate(-50%,-1.875rem);
  transform: translate(-50%,-1.875rem);
  opacity: 0
}
._watcher-view .hero__pills {
  transition: opacity .5s ease .6s,-webkit-transform .5s ease .6s;
  transition: transform .5s ease .6s,opacity .5s ease .6s;
  transition: transform .5s ease .6s,opacity .5s ease .6s,-webkit-transform .5s ease .6s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 1
}
.benefits__items {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1.25rem
}
.benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4375rem;
  -webkit-transform: translateY(1.875rem);
  transform: translateY(1.875rem);
  opacity: 0
}
.benefits__item._watcher-view {
  transition: opacity .5s ease,-webkit-transform .5s ease;
  transition: transform .5s ease,opacity .5s ease;
  transition: transform .5s ease,opacity .5s ease,-webkit-transform .5s ease;
  -webkit-transform: none;
  transform: none;
  opacity: 1
}
.benefits__image {
  max-width: 11.8125rem;
  aspect-ratio: 1/1
}
.benefits__image img,
.benefits__image svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.benefits__label {
  color: #fff;
  text-align: center;
  font-family: Rubik,sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.45;
  text-transform: uppercase
}
.benefits__label span {
  font-size: .625rem;
  color: #f7a41a;
  vertical-align: top
}
.for-whom__container {
  max-width: 66rem
}
.for-whom__items {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem 1.25rem
}
.for-whom__label {
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.1
}
.for-whom__label span {
  transition: color .5s ease
}
.for-whom__item {
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  border-radius: .75rem;
  border: .0625rem solid #fe7011;
  transition: opacity .5s ease,background-color .5s ease,-webkit-transform .5s ease!important;
  transition: transform .5s ease,opacity .5s ease,background-color .5s ease!important;
  transition: transform .5s ease,opacity .5s ease,background-color .5s ease,-webkit-transform .5s ease!important
}
.for-whom__item svg {
  width: 7.5rem;
  height: 6.75rem
}
.for-whom__item svg path {
  transition: fill .3s
}
.pleasure {
  position: relative;
  display: flex
}
.pleasure__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.pleasure__container {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.125rem
}
.pleasure__logo {
  aspect-ratio: 384/142;
  max-width: 24rem
}
.pleasure__body {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2.5rem;
  padding-right: 1.375rem
}
.pleasure__title {
  font-weight: 700;
  text-align: right
}
.stats__header {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: space-between
}
.stats__header:not(:last-child) {
  margin-bottom: 3.125rem
}
.stats__title {
  text-align: left;
  max-width: 43.75rem;
  line-height: 1.5
}
.stats__text {
  max-width: 34.375rem;
  padding: 1.25rem;
  color: #c2c2c2;
  font-size: 1.125rem;
  line-height: 1.45;
  border-radius: .75rem;
  border: .0625rem solid #f7a41a
}
.stats__items {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 2.9375rem
}
.stats__item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  padding: 0 .3125rem
}
.stats__counter {
  position: relative;
  aspect-ratio: 1/1;
  color: #f7a41a;
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: center;
  letter-spacing: .03rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .625rem;
  width: 100%;
  max-width: 16.1875rem
}
.stats__counter span {
  font-weight: 700
}
.stats__counter svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg)
}
.stats__counter svg .accent-circle {
  stroke-dasharray: 782;
  stroke-dashoffset: 782;
  transition: all 1s
}
.stats__counter._watcher-view .accent-circle {
  stroke-dasharray: 782;
  stroke-dashoffset: 390
}
.stats__label {
  color: #fff;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.45;
  text-transform: uppercase
}
.reasons__title {
  display: flex;
  align-items: end;
  gap: 2rem;
  text-align: left
}
.reasons__title:not(:last-child) {
  margin-bottom: 3.75rem
}
.reasons__title .accent-color {
  color: #f60
}
.reasons__title .percentage {
  color: #f60;
  font-weight: 700;
  text-transform: uppercase;
  line-height: .8
}
.reasons__items {
  display: flex;
  gap: 3.125rem 4.125rem;
  justify-content: center;
  flex-wrap: wrap
}
.reasons__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4375rem;
  color: #fff;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.45;
  text-transform: uppercase;
  flex: 0 0 17.25rem;
  -webkit-transform: translateY(1.875rem);
  transform: translateY(1.875rem);
  opacity: 0;
  transition: opacity .5s ease,-webkit-transform .5s ease;
  transition: transform .5s ease,opacity .5s ease;
  transition: transform .5s ease,opacity .5s ease,-webkit-transform .5s ease
}
.reasons__item img {
  width: 100%;
  min-width: 0;
  max-width: 7.5rem;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
  object-fit: contain
}
.video__title:not(:last-child) {
  margin-bottom: 3.125rem
}
.video__body {
  max-width: 70rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  overflow: hidden;
  aspect-ratio: 1120/530
}
.video__body iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.video__preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.video__button {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  border: .0625rem solid rgba(229,186,16,.2)
}
.video__button svg {
  aspect-ratio: 1/1;
  width: 43.809524%;
  position: relative;
  z-index: 2;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.info__body {
  display: flex;
  flex-direction: column;
  gap: 2.25rem
}
.info__title {
  color: #fbfbfb;
  font-weight: 700;
  line-height: 1.45
}
.info__title:not(:last-child) {
  margin-bottom: 1.0625rem
}
.info__text {
  color: #fff;
  line-height: 1.45;
  font-size: 1.125rem
}
.info__footer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem 2rem
}
.info__link {
  -webkit-column-gap: .6875rem;
  -moz-column-gap: .6875rem;
  column-gap: .6875rem
}
.info__link .button__icon {
  padding-left: .75rem
}
.info__other {
  padding: .5rem 1.125rem;
  border-radius: 62.4375rem;
  background: #38348a;
  color: #fcfcfc;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.44;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity .5s ease,background-color .3s,-webkit-transform .5s ease;
  transition: transform .5s ease,opacity .5s ease,background-color .3s;
  transition: transform .5s ease,opacity .5s ease,background-color .3s,-webkit-transform .5s ease
}
.info__other .small {
  font-size: .75rem
}
.info__image {
  min-width: 0;
  max-width: 49.8125rem;
  aspect-ratio: 797/263
}
.when__title span {
  color: #f7a41a;
  vertical-align: top;
  font-size: .9375rem
}
.when__title:not(:last-child) {
  margin-bottom: 1.0625rem
}
.when__body {
  position: relative
}
.when__content {
  position: relative;
  z-index: 2;
  pointer-events: none;
  counter-reset: when-counter
}
.when__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  counter-increment: when-counter
}
.when__item:nth-child(even) {
  align-items: end
}
.when__item::before {
  content: counter(when-counter,decimal-leading-zero);
  color: #f7a41a;
  display: block;
  font-size: 4.5rem;
  font-weight: 700;
  pointer-events: all;
  line-height: 1.2;
  letter-spacing: .09rem;
  text-transform: uppercase;
  padding-bottom: .6875rem;
  border-bottom: .0625rem solid #f7a41a;
  margin-bottom: 1.5625rem
}
.when__text {
  color: #fff;
  font-family: Rubik,sans-serif;
  font-size: 1.625rem;
  line-height: 1.2;
  pointer-events: all
}
.when__item:nth-child(even) .when__text {
  text-align: right
}
.when__text:not(:last-child) {
  margin-bottom: 2rem
}
.when__images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.when__images img {
  position: absolute;
  width: 50%;
  right: 0;
  aspect-ratio: 684/837;
  transition: all .3s
}
.when__images img:nth-child(even) {
  left: 0
}
.when__images img:nth-child(1) {
  aspect-ratio: 684/837
}
.when__images img:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  aspect-ratio: 664/964
}
.when__images img:nth-child(3) {
  aspect-ratio: 657/905;
  bottom: 0
}
.when__link {
  pointer-events: all
}
.details__container {
  max-width: 71.3125rem
}
.details ul {
  counter-reset: details-counter
}
.details ul li {
  color: #fff;
  text-align: center;
  font-size: .875rem;
  line-height: 1.45;
  counter-increment: details-counter
}
.details ul li::before {
  content: counter(details-counter) ". ";
  color: #f7a41a
}
.details ul li:not(:last-child) {
  margin-bottom: 1rem
}
.better__image {
  aspect-ratio: 892/788;
  height: auto;
  width: 100%
}
.better__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  position: relative;
  z-index: 2
}
.better__logo {
  aspect-ratio: 435/160;
  max-width: 27.1875rem;
  width: 100%
}
.better__title {
  font-weight: 700
}
.better__title:not(:last-child) {
  margin-bottom: 2rem
}
.splide__container {
  box-sizing: border-box;
  position: relative
}
.splide__list {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  height: 100%;
  margin: 0!important;
  padding: 0!important
}
.splide.is-initialized:not(.is-active) .splide__list {
  display: block
}
.splide__pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  pointer-events: none
}
.splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto
}
.splide:not(.is-overflow) .splide__pagination {
  display: none
}
.splide__progress__bar {
  width: 0
}
.splide {
  position: relative;
  visibility: hidden
}
.splide.is-initialized,
.splide.is-rendered {
  visibility: visible
}
.splide__slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  flex-shrink: 0;
  list-style-type: none!important;
  margin: 0;
  position: relative
}
.splide__slide img {
  vertical-align: bottom
}
.splide__spinner {
  -webkit-animation: splide-loading 1s linear infinite;
  animation: splide-loading 1s linear infinite;
  border: 2px solid #999;
  border-left-color: transparent;
  border-radius: 50%;
  bottom: 0;
  contain: strict;
  display: inline-block;
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px
}
.splide__sr {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}
.splide__toggle.is-active .splide__toggle__play,
.splide__toggle__pause {
  display: none
}
.splide__toggle.is-active .splide__toggle__pause {
  display: inline
}
.splide__track {
  overflow: hidden;
  position: relative;
  z-index: 0
}
@-webkit-keyframes splide-loading {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}
@keyframes splide-loading {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}
.splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.splide__track--fade>.splide__list>.splide__slide {
  margin: 0!important;
  opacity: 0;
  z-index: 0
}
.splide__track--fade>.splide__list>.splide__slide.is-active {
  opacity: 1;
  z-index: 1
}
.splide--rtl {
  direction: rtl
}
.splide__track--ttb>.splide__list {
  display: block
}
.splide__arrow {
  align-items: center;
  background: #ccc;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 2em;
  justify-content: center;
  opacity: .7;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 2em;
  z-index: 1
}
.splide__arrow svg {
  fill: #000;
  height: 1.2em;
  width: 1.2em
}
.splide__arrow:hover:not(:disabled) {
  opacity: .9
}
.splide__arrow:disabled {
  opacity: .3
}
.splide__arrow:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px
}
.splide__arrow--prev {
  left: 1em
}
.splide__arrow--prev svg {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1)
}
.splide__arrow--next {
  right: 1em
}
.splide.is-focus-in .splide__arrow:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px
}
.splide__pagination {
  bottom: .5em;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1
}
.splide__pagination__page {
  background: #ccc;
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 3px;
  opacity: .7;
  padding: 0;
  position: relative;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear,-webkit-transform .2s linear;
  width: 8px
}
.splide__pagination__page.is-active {
  background: #fff;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  z-index: 1
}
.splide__pagination__page:hover {
  cursor: pointer;
  opacity: .9
}
.splide__pagination__page:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px
}
.splide.is-focus-in .splide__pagination__page:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px
}
.splide__progress__bar {
  background: #ccc;
  height: 3px
}
.splide__slide {
  -webkit-tap-highlight-color: transparent
}
.splide__slide:focus {
  outline: 0
}
@supports (outline-offset:-3px) {
  .splide__slide:focus-visible {
    outline: 3px solid #0bf;
    outline-offset: -3px
  }
}
@supports (outline-offset:-3px) {
  .splide.is-focus-in .splide__slide:focus {
    outline: 3px solid #0bf;
    outline-offset: -3px
  }
}
.splide__toggle {
  cursor: pointer
}
.splide__toggle:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px
}
.splide.is-focus-in .splide__toggle:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px
}
.splide__track--nav>.splide__list>.splide__slide {
  border: 3px solid transparent;
  cursor: pointer
}
.splide__track--nav>.splide__list>.splide__slide.is-active {
  border: 3px solid #000
}
.splide__arrows--rtl .splide__arrow--prev {
  left: auto;
  right: 1em
}
.splide__arrows--rtl .splide__arrow--prev svg {
  -webkit-transform: scaleX(1);
  transform: scaleX(1)
}
.splide__arrows--rtl .splide__arrow--next {
  left: 1em;
  right: auto
}
.splide__arrows--rtl .splide__arrow--next svg {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1)
}
.splide__arrows--ttb .splide__arrow {
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%)
}
.splide__arrows--ttb .splide__arrow--prev {
  top: 1em
}
.splide__arrows--ttb .splide__arrow--prev svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}
.splide__arrows--ttb .splide__arrow--next {
  bottom: 1em;
  top: auto
}
.splide__arrows--ttb .splide__arrow--next svg {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}
.splide__pagination--ttb {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: auto;
  padding: 1em 0;
  right: .5em;
  top: 0
}
@media (min-width:43.74875em) {
  .for-whom__item:nth-child(1) {
    transition-delay: .1s,.1s,.1s!important
  }
  .for-whom__item:nth-child(2) {
    transition-delay: .2s,.2s,.2s!important
  }
  .for-whom__item:nth-child(3) {
    transition-delay: .3s,.3s,.3s!important
  }
}
@media (min-width:47.99875em) {
  .button__main--mobile {
    display: none
  }
  .menu__body ul {
    padding: 0 1.25rem 0 8.625rem
  }
  .menu__title {
    visibility: hidden
  }
  .lang {
    border-radius: 1.875rem 1.875rem 0 0;
    transition: background-color .3s;
    padding: .1875rem;
    padding-bottom: 0
  }
  .lang._active {
    background-color: #fcfcfc
  }
  .lang._active span {
    background-color: #f7a41a;
    border-color: #f7a41a;
    color: #000
  }
  .lang__body {
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    gap: .2125rem;
    pointer-events: none;
    border-radius: 0 0 1.875rem 1.875rem;
    transition: background-color .3s;
    padding: .125rem;
    padding-top: .1875rem
  }
  .lang._active .lang__body {
    background-color: #fcfcfc
  }
  .lang__body a {
    -webkit-transform: scale(0);
    transform: scale(0)
  }
  .lang._active .lang__body a {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  .lang._active .lang__body a:nth-child(2) {
    transition: all .3s,-webkit-transform .3s .1s;
    transition: all .3s,transform .3s .1s;
    transition: all .3s,transform .3s .1s,-webkit-transform .3s .1s
  }
  .lang._active .lang__body a:nth-child(3) {
    transition: all .3s,-webkit-transform .3s .2s;
    transition: all .3s,transform .3s .2s;
    transition: all .3s,transform .3s .2s,-webkit-transform .3s .2s
  }
  .menu-btn__wrapper {
    width: 3rem;
    height: 3rem;
    border: .09375rem solid #f7a41a;
    border-radius: 50%
  }
  .menu-btn__icon::before {
    width: 70%
  }
  .hero__container {
    display: grid;
    grid-template-columns: 450fr 967fr;
    align-items: start
  }
  .hero__body {
    grid-column: 1;
    grid-row: 1
  }
  .pleasure {
    padding-top: 6.4375rem;
    padding-bottom: 5.1875rem
  }
  .info__other .mobile {
    display: none
  }
}
@media (min-width:61.99875em) {
  .header__container {
    gap: 4.6875rem
  }
  .benefits__item._watcher-view:nth-child(1) {
    transition-delay: .1s,.1s
  }
  .benefits__item._watcher-view:nth-child(2) {
    transition-delay: .2s,.2s
  }
  .benefits__item._watcher-view:nth-child(3) {
    transition-delay: .3s,.3s
  }
  .benefits__item._watcher-view:nth-child(4) {
    transition-delay: .4s,.4s
  }
  ._watcher-view .reasons__item {
    -webkit-transform: none;
    transform: none;
    opacity: 1
  }
  .reasons__item:nth-child(1) {
    transition-delay: .1s,.1s
  }
  .reasons__item:nth-child(2) {
    transition-delay: .2s,.2s
  }
  .reasons__item:nth-child(3) {
    transition-delay: .3s,.3s
  }
  .reasons__item:nth-child(4) {
    transition-delay: .4s,.4s
  }
  .reasons__item:nth-child(5) {
    transition-delay: .5s,.5s
  }
  .reasons__item:nth-child(6) {
    transition-delay: .6s,.6s
  }
  .reasons__item:nth-child(7) {
    transition-delay: .7s,.7s
  }
  .info__container {
    display: grid;
    grid-template-columns: 33.75rem 1fr;
    align-items: center;
    gap: 1.75rem
  }
  .better__container {
    position: relative;
    min-height: 49.25rem;
    display: flex;
    align-items: center;
    justify-content: end
  }
  .better__image {
    position: absolute;
    height: 100%;
    max-width: 100%;
    width: auto;
    top: 0;
    left: 4.1875rem
  }
  .better__logo:not(:last-child) {
    margin-bottom: 7.375rem
  }
}
@media (min-width:86.125em) {
  .title {
    font-size: 2.25rem
  }
  .page-home__benefits,
  .page-home__for-whom {
    margin-bottom: 7.75rem
  }
  .hero__body {
    padding-top: 4.0625rem
  }
  .hero__logo:not(:last-child) {
    margin-bottom: 3.75rem
  }
  .hero__title {
    font-size: 2.25rem
  }
  .for-whom__title:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .pleasure {
    min-height: 48.6875rem
  }
  .pleasure__logo {
    max-width: 24rem
  }
  .pleasure__title {
    font-size: 2.25rem
  }
  .pleasure__title {
    max-width: 33.8125rem
  }
  .stats__counter {
    font-size: 1.5rem
  }
  .stats__counter span {
    font-size: 3rem
  }
  .reasons__title .percentage {
    font-size: 10rem
  }
  .video__button {
    width: 6.5625rem
  }
  .video__button {
    height: 6.5625rem
  }
  .info__title {
    font-size: 3.75rem
  }
  .when__content {
    padding-top: 7.125rem
  }
  .when__content {
    padding-left: 7.125rem
  }
  .when__content {
    padding-right: 8.3125rem
  }
  .when__item:first-child {
    margin-bottom: 23.1875rem
  }
  .when__item:nth-child(2) {
    margin-bottom: 8.0625rem
  }
  .when__item:nth-child(3) {
    margin-bottom: 9.5625rem
  }
  .when__text {
    max-width: 23.875rem
  }
}
@media (min-width:98.875em) {
  .hero__container {
    padding-left: 9.9375rem
  }
}
@media (max-width:86.125em) {
  .hero__container {
    padding-left: 1.25rem
  }
}
@media (max-width:61.99875em) {
  .benefits__items {
    grid-template-columns: repeat(2,1fr)
  }
  .for-whom__label {
    font-size: 1.125rem
  }
  .for-whom__item {
    gap: 1rem;
    padding: 1.25rem .75rem
  }
  .stats__items {
    grid-template-columns: repeat(3,1fr)
  }
  .reasons__items {
    gap: 1rem 1.25rem
  }
  .reasons__item {
    flex: 0 0 9.375rem
  }
  .reasons__item._watcher-view {
    -webkit-transform: none;
    transform: none;
    opacity: 1
  }
  .info__body {
    align-items: center
  }
  .info__footer {
    justify-content: center
  }
  .better__body {
    align-items: center
  }
  .better__logo {
    width: 65.555556%
  }
}
@media (max-width:47.99875em) {
  .button__main {
    font-size: 1.25rem
  }
  .button__main--pc {
    display: none
  }
  .button__label {
    font-size: 1rem
  }
  .button__icon {
    padding-left: .8125rem
  }
  .header__container {
    gap: 1.25rem
  }
  .header__link {
    display: none
  }
  .header__logo img {
    width: 6.8125rem
  }
  .header__menu {
    position: absolute;
    width: 0;
    height: 0
  }
  .header__button {
    gap: 0 .3125rem
  }
  .header__button .button__main {
    padding: .1875rem .5rem
  }
  .header__button .button__label {
    max-width: 5.4375rem;
    text-align: center
  }
  .header__button .button__icon {
    padding-left: .375rem
  }
  .menu {
    max-width: 18.6875rem
  }
  .menu__body {
    align-items: stretch
  }
  .menu__body ul li {
    font-size: 1rem
  }
  .lang a,
  .lang span {
    border-color: #5e5e5e
  }
  .lang {
    display: flex;
    gap: 1.25rem
  }
  .lang__value span {
    background-color: #f7a41a;
    border-color: #f7a41a;
    color: #010101
  }
  .menu-btn>span {
    display: none
  }
  .menu-btn__icon {
    width: 1.125rem;
    height: 1.1875rem
  }
  .menu-btn__icon span,
  .menu-btn__icon::after,
  .menu-btn__icon::before {
    height: .1875rem;
    background-color: #e5b910
  }
  .footer {
    padding: .625rem 1.25rem
  }
  .page-home__hero {
    margin-bottom: 1.625rem
  }
  .page-home__pleasure {
    margin-bottom: 4.5rem
  }
  .page-home__info {
    margin-bottom: 6.9375rem
  }
  .page-home__better {
    margin-bottom: 5.25rem
  }
  .hero__body {
    display: flex;
    flex-direction: column;
    align-items: center
  }
  .hero__logo:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .hero__logo {
    display: none
  }
  .hero__title {
    font-size: 1.5rem;
    max-width: 20rem;
    text-align: center
  }
  .hero__title:not(:last-child) {
    margin-bottom: 2rem
  }
  .hero__image {
    aspect-ratio: 360/275;
    margin: 0 -1.25rem
  }
  .hero__image img {
    -o-object-position: right bottom;
    object-position: right bottom
  }
  .hero__pills {
    width: 88.888889%
  }
  .for-whom__item svg {
    width: 4.8125rem;
    height: 4.375rem
  }
  .stats__header {
    flex-direction: column;
    justify-content: start
  }
  .stats__title {
    text-align: center
  }
  .stats__text {
    color: #fff;
    text-align: center
  }
  .stats__label {
    font-size: .875rem
  }
  .reasons__title {
    font-size: 1.25rem;
    gap: .5rem;
    align-items: start
  }
  .reasons__title:not(:last-child) {
    margin-bottom: 2rem
  }
  .reasons__item {
    font-size: .875rem
  }
  .video__title:not(:last-child) {
    margin-bottom: 2rem
  }
  .info__text {
    font-size: 1rem;
    text-align: center
  }
  .info__other .pc {
    display: none
  }
  .when__item::before {
    font-size: 2.5rem;
    padding-bottom: .125rem;
    margin-bottom: 1.25rem
  }
  .when__text {
    font-size: 1.125rem
  }
  .details ul li {
    font-size: .75rem
  }
  .details ul li:not(:last-child) {
    margin-bottom: .625rem
  }
}
@media (max-width:43.74875em) {
  .for-whom__items {
    grid-template-columns: 1fr
  }
}
@media (max-width:40.62375em) {
  .stats__items {
    grid-template-columns: repeat(2,1fr)
  }
}
@media (max-width:31.24875em) {
  .benefits__image {
    max-width: 6.25rem
  }
  .benefits__label {
    font-size: .875rem
  }
}
@media (max-width:27.5em) {
  .title {
    font-size: 1.5rem
  }
  .page-home__benefits,
  .page-home__for-whom {
    margin-bottom: 4.5625rem
  }
  .for-whom__title:not(:last-child) {
    margin-bottom: 2rem
  }
  .pleasure {
    min-height: 18.8125rem
  }
  .pleasure__logo {
    max-width: 8.75rem
  }
  .pleasure__title {
    font-size: 1.125rem
  }
  .pleasure__title {
    max-width: 12.5rem
  }
  .stats__counter {
    font-size: .875rem
  }
  .stats__counter span {
    font-size: 1.25rem
  }
  .reasons__title .percentage {
    font-size: 3.25rem
  }
  .video__button {
    width: 2.5rem
  }
  .video__button {
    height: 2.5rem
  }
  .info__title {
    font-size: 1.5rem
  }
  .when__content {
    padding-top: .0000000625rem
  }
  .when__content {
    padding-left: .0000000625rem
  }
  .when__content {
    padding-right: .0000000625rem
  }
  .when__item:first-child {
    margin-bottom: 8.6875rem
  }
  .when__item:nth-child(2) {
    margin-bottom: 8.6875rem
  }
  .when__item:nth-child(3) {
    margin-bottom: 8.6875rem
  }
  .when__text {
    max-width: 15.125rem
  }
}
@media (max-width:24.99875em) {
  .when__images img:nth-child(1) {
    width: 80%;
    -webkit-transform: translateX(35%);
    transform: translateX(35%)
  }
  .when__images img:nth-child(2) {
    width: 89.444444%;
    -webkit-transform: translate(-9.937888%,-50%);
    transform: translate(-9.937888%,-50%)
  }
  .when__images img:nth-child(3) {
    width: 107.222222%;
    -webkit-transform: translateX(18.911917%);
    transform: translateX(18.911917%)
  }
  .better__title {
    font-size: 1.125rem;
    max-width: 14.8125rem
  }
}
@media (max-width:22.49875em) {
  .header__logo img {
    width: 5rem
  }
  .reasons__items {
    display: grid;
    grid-template-columns: repeat(2,1fr)
  }
}
@media (max-width:21.24875em) {
  .stats__items {
    grid-template-columns: 1fr
  }
  .stats__counter {
    font-size: 1.5rem
  }
  .stats__counter span {
    font-size: 3rem
  }
}
@media (min-width:27.5em)and (max-width:86.125em) {
  @supports (font-size:clamp(1.5rem ,1.1481876333rem + 1.2793176972vw ,2.25rem)) {
    .title {
      font-size: clamp(1.5rem ,1.1481876333rem + 1.2793176972vw ,2.25rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,1.1481876333rem + 1.2793176972vw ,2.25rem)) {
    .title {
      font-size: calc(1.5rem + .75*(100vw - 27.5rem)/ 58.625)
    }
  }
  @supports (margin-bottom:clamp(4.5625rem ,3.0672974414rem + 5.4371002132vw ,7.75rem)) {
    .page-home__benefits,
    .page-home__for-whom {
      margin-bottom: clamp(4.5625rem ,3.0672974414rem + 5.4371002132vw ,7.75rem)
    }
  }
  @supports not (margin-bottom:clamp(4.5625rem ,3.0672974414rem + 5.4371002132vw ,7.75rem)) {
    .page-home__benefits,
    .page-home__for-whom {
      margin-bottom: calc(4.5625rem + 3.1875*(100vw - 27.5rem)/ 58.625)
    }
  }
  @supports (margin-bottom:clamp(2rem ,1.4722814499rem + 1.9189765458vw ,3.125rem)) {
    .for-whom__title:not(:last-child) {
      margin-bottom: clamp(2rem ,1.4722814499rem + 1.9189765458vw ,3.125rem)
    }
  }
  @supports not (margin-bottom:clamp(2rem ,1.4722814499rem + 1.9189765458vw ,3.125rem)) {
    .for-whom__title:not(:last-child) {
      margin-bottom: calc(2rem + 1.125*(100vw - 27.5rem)/ 58.625)
    }
  }
  @supports (min-height:clamp(18.8125rem ,4.7986407249rem + 50.9594882729vw ,48.6875rem)) {
    .pleasure {
      min-height: clamp(18.8125rem ,4.7986407249rem + 50.9594882729vw ,48.6875rem)
    }
  }
  @supports not (min-height:clamp(18.8125rem ,4.7986407249rem + 50.9594882729vw ,48.6875rem)) {
    .pleasure {
      min-height: calc(18.8125rem + 29.875*(100vw - 27.5rem)/ 58.625)
    }
  }
  @supports (max-width:clamp(8.75rem ,1.5964818763rem + 26.012793177vw ,24rem)) {
    .pleasure__logo {
      max-width: clamp(8.75rem ,1.5964818763rem + 26.012793177vw ,24rem)
    }
  }
  @supports not (max-width:clamp(8.75rem ,1.5964818763rem + 26.012793177vw ,24rem)) {
    .pleasure__logo {
      max-width: calc(8.75rem + 15.25*(100vw - 27.5rem)/ 58.625)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.5972814499rem + 1.9189765458vw ,2.25rem)) {
    .pleasure__title {
      font-size: clamp(1.125rem ,.5972814499rem + 1.9189765458vw ,2.25rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.5972814499rem + 1.9189765458vw ,2.25rem)) {
    .pleasure__title {
      font-size: calc(1.125rem + 1.125*(100vw - 27.5rem)/ 58.625)
    }
  }
  @supports (max-width:clamp(12.5rem ,2.5026652452rem + 36.3539445629vw ,33.8125rem)) {
    .pleasure__title {
      max-width: clamp(12.5rem ,2.5026652452rem + 36.3539445629vw ,33.8125rem)
    }
  }
  @supports not (max-width:clamp(12.5rem ,2.5026652452rem + 36.3539445629vw ,33.8125rem)) {
    .pleasure__title {
      max-width: calc(12.5rem + 21.3125*(100vw - 27.5rem)/ 58.625)
    }
  }
  @supports (font-size:clamp(0.875rem ,0.5818230277rem + 1.066098081vw ,1.5rem)) {
    .stats__counter {
      font-size: clamp(.875rem ,.5818230277rem + 1.066098081vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.5818230277rem + 1.066098081vw ,1.5rem)) {
    .stats__counter {
      font-size: calc(.875rem + .625*(100vw - 27.5rem)/ 58.625)
    }
  }
  @supports (font-size:clamp(1.25rem ,0.4291044776rem + 2.9850746269vw ,3rem)) {
    .stats__counter span {
      font-size: clamp(1.25rem ,.4291044776rem + 2.9850746269vw ,3rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,0.4291044776rem + 2.9850746269vw ,3rem)) {
    .stats__counter span {
      font-size: calc(1.25rem + 1.75*(100vw - 27.5rem)/ 58.625)
    }
  }
  @supports (font-size:clamp(3.25rem ,0.0836886994rem + 11.5138592751vw ,10rem)) {
    .reasons__title .percentage {
      font-size: clamp(3.25rem ,.0836886994rem + 11.5138592751vw ,10rem)
    }
  }
  @supports not (font-size:clamp(3.25rem ,0.0836886994rem + 11.5138592751vw ,10rem)) {
    .reasons__title .percentage {
      font-size: calc(3.25rem + 6.75*(100vw - 27.5rem)/ 58.625)
    }
  }
  @supports (width:clamp(2.5rem ,0.5943496802rem + 6.9296375267vw ,6.5625rem)) {
    .video__button {
      width: clamp(2.5rem ,.5943496802rem + 6.9296375267vw ,6.5625rem)
    }
  }
  @supports not (width:clamp(2.5rem ,0.5943496802rem + 6.9296375267vw ,6.5625rem)) {
    .video__button {
      width: calc(2.5rem + 4.0625*(100vw - 27.5rem)/ 58.625)
    }
  }
  @supports (height:clamp(2.5rem ,0.5943496802rem + 6.9296375267vw ,6.5625rem)) {
    .video__button {
      height: clamp(2.5rem ,.5943496802rem + 6.9296375267vw ,6.5625rem)
    }
  }
  @supports not (height:clamp(2.5rem ,0.5943496802rem + 6.9296375267vw ,6.5625rem)) {
    .video__button {
      height: calc(2.5rem + 4.0625*(100vw - 27.5rem)/ 58.625)
    }
  }
  @supports (font-size:clamp(1.5rem ,0.4445628998rem + 3.8379530917vw ,3.75rem)) {
    .info__title {
      font-size: clamp(1.5rem ,.4445628998rem + 3.8379530917vw ,3.75rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,0.4445628998rem + 3.8379530917vw ,3.75rem)) {
    .info__title {
      font-size: calc(1.5rem + 2.25*(100vw - 27.5rem)/ 58.625)
    }
  }
  @supports (padding-top:clamp(0.0000000625rem ,-3.3422173922rem + 12.1535180171vw ,7.125rem)) {
    .when__content {
      padding-top: clamp(.0000000625rem ,-3.3422173922rem + 12.1535180171vw ,7.125rem)
    }
  }
  @supports not (padding-top:clamp(0.0000000625rem ,-3.3422173922rem + 12.1535180171vw ,7.125rem)) {
    .when__content {
      padding-top: calc(.0000000625rem + 7.1249999375*(100vw - 27.5rem)/ 58.625)
    }
  }
  @supports (padding-left:clamp(0.0000000625rem ,-3.3422173922rem + 12.1535180171vw ,7.125rem)) {
    .when__content {
      padding-left: clamp(.0000000625rem ,-3.3422173922rem + 12.1535180171vw ,7.125rem)
    }
  }
  @supports not (padding-left:clamp(0.0000000625rem ,-3.3422173922rem + 12.1535180171vw ,7.125rem)) {
    .when__content {
      padding-left: calc(.0000000625rem + 7.1249999375*(100vw - 27.5rem)/ 58.625)
    }
  }
  @supports (padding-right:clamp(0.0000000625rem ,-3.8992536395rem + 14.179104371vw ,8.3125rem)) {
    .when__content {
      padding-right: clamp(.0000000625rem ,-3.8992536395rem + 14.179104371vw ,8.3125rem)
    }
  }
  @supports not (padding-right:clamp(0.0000000625rem ,-3.8992536395rem + 14.179104371vw ,8.3125rem)) {
    .when__content {
      padding-right: calc(.0000000625rem + 8.3124999375*(100vw - 27.5rem)/ 58.625)
    }
  }
  @supports (margin-bottom:clamp(8.6875rem ,1.8857942431rem + 24.7334754797vw ,23.1875rem)) {
    .when__item:first-child {
      margin-bottom: clamp(8.6875rem ,1.8857942431rem + 24.7334754797vw ,23.1875rem)
    }
  }
  @supports not (margin-bottom:clamp(8.6875rem ,1.8857942431rem + 24.7334754797vw ,23.1875rem)) {
    .when__item:first-child {
      margin-bottom: calc(8.6875rem + 14.5*(100vw - 27.5rem)/ 58.625)
    }
  }
  @supports (margin-bottom:clamp(8.0625rem ,8.9806769723rem + -1.066098081vw ,8.6875rem)) {
    .when__item:nth-child(2) {
      margin-bottom: clamp(8.0625rem ,8.9806769723rem + -1.066098081vw ,8.6875rem)
    }
  }
  @supports not (margin-bottom:clamp(8.0625rem ,8.9806769723rem + -1.066098081vw ,8.6875rem)) {
    .when__item:nth-child(2) {
      margin-bottom: calc(8.6875rem + -.625*(100vw - 27.5rem)/ 58.625)
    }
  }
  @supports (margin-bottom:clamp(8.6875rem ,8.2770522388rem + 1.4925373134vw ,9.5625rem)) {
    .when__item:nth-child(3) {
      margin-bottom: clamp(8.6875rem ,8.2770522388rem + 1.4925373134vw ,9.5625rem)
    }
  }
  @supports not (margin-bottom:clamp(8.6875rem ,8.2770522388rem + 1.4925373134vw ,9.5625rem)) {
    .when__item:nth-child(3) {
      margin-bottom: calc(8.6875rem + .875*(100vw - 27.5rem)/ 58.625)
    }
  }
  @supports (max-width:clamp(15.125rem ,11.0205223881rem + 14.9253731343vw ,23.875rem)) {
    .when__text {
      max-width: clamp(15.125rem ,11.0205223881rem + 14.9253731343vw ,23.875rem)
    }
  }
  @supports not (max-width:clamp(15.125rem ,11.0205223881rem + 14.9253731343vw ,23.875rem)) {
    .when__text {
      max-width: calc(15.125rem + 8.75*(100vw - 27.5rem)/ 58.625)
    }
  }
}
@media (min-width:47.99875em)and (max-width:61.99875em) {
  @supports (gap:clamp(1.25rem ,-10.5354073661rem + 24.5535714286vw ,4.6875rem)) {
    .header__container {
      gap: clamp(1.25rem ,-10.5354073661rem + 24.5535714286vw ,4.6875rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,-10.5354073661rem + 24.5535714286vw ,4.6875rem)) {
    .header__container {
      gap: calc(1.25rem + 3.4375*(100vw - 47.99875rem)/ 14)
    }
  }
  .hero__container {
    grid-template-columns: 500fr 967fr
  }
}
@media (min-width:86.125em)and (max-width:98.875em) {
  @supports (padding-left:clamp(1.25rem ,-57.4332107843rem + 68.137254902vw ,9.9375rem)) {
    .hero__container {
      padding-left: clamp(1.25rem ,-57.4332107843rem + 68.137254902vw ,9.9375rem)
    }
  }
  @supports not (padding-left:clamp(1.25rem ,-57.4332107843rem + 68.137254902vw ,9.9375rem)) {
    .hero__container {
      padding-left: calc(1.25rem + 8.6875*(100vw - 86.125rem)/ 12.75)
    }
  }
}
@media (min-width:47.99875em)and (max-width:86.125em) {
  @supports (padding-top:clamp(1.25rem ,-2.2907753024rem + 7.3768073178vw ,4.0625rem)) {
    .hero__body {
      padding-top: clamp(1.25rem ,-2.2907753024rem + 7.3768073178vw ,4.0625rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,-2.2907753024rem + 7.3768073178vw ,4.0625rem)) {
    .hero__body {
      padding-top: calc(1.25rem + 2.8125*(100vw - 47.99875rem)/ 38.12625)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,-1.8973558244rem + 6.5571620603vw ,3.75rem)) {
    .hero__logo:not(:last-child) {
      margin-bottom: clamp(1.25rem ,-1.8973558244rem + 6.5571620603vw ,3.75rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,-1.8973558244rem + 6.5571620603vw ,3.75rem)) {
    .hero__logo:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.5*(100vw - 47.99875rem)/ 38.12625)
    }
  }
  @supports (font-size:clamp(1.5rem ,0.5557932527rem + 1.9671486181vw ,2.25rem)) {
    .hero__title {
      font-size: clamp(1.5rem ,.5557932527rem + 1.9671486181vw ,2.25rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,0.5557932527rem + 1.9671486181vw ,2.25rem)) {
    .hero__title {
      font-size: calc(1.5rem + .75*(100vw - 47.99875rem)/ 38.12625)
    }
  }
}
@media (any-hover:hover) {
  .select__title:hover {
    background-color: #3a3ba9;
    color: #fff
  }
  .select__title:hover .select__value::after {
    color: #fff
  }
  .select__option:hover {
    background: #ebebec
  }
  .button:hover {
    background-color: #f7a41a
  }
  .header__link:hover {
    color: #fe7011
  }
  .header__button:hover {
    background-color: rgba(0,0,0,0)
  }
  .header__button:hover .button__main {
    background-color: #fe7011
  }
  .menu__body ul li a:hover {
    color: #f7a41a
  }
  .lang a:hover,
  .lang span:hover {
    background-color: #f7a41a;
    border-color: #f7a41a;
    color: #000
  }
  .menu-btn:hover .menu-btn__icon span,
  .menu-btn:hover .menu-btn__icon::after,
  .menu-btn:hover .menu-btn__icon::before {
    background-color: #fe7011
  }
  .for-whom__item:hover {
    background-color: #fe7011
  }
  .for-whom__item:hover svg path {
    fill: #fff
  }
  .for-whom__item:hover .for-whom__label {
    color: #fff
  }
  .for-whom__item:hover .for-whom__label .accent-color {
    color: #010101
  }
  .video__button:hover svg {
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
  }
  .info__other:hover {
    background-color: #38348a
  }
  .when__images img:not(:hover) {
    -webkit-filter: blur(.3125rem);
    filter: blur(.3125rem)
  }
}
@media (any-hover:none) {
  .menu-btn__icon {
    cursor: default
  }
}
@media screen and (-ms-high-contrast:none) {
  .splide__slide:focus-visible {
    border: 3px solid #0bf
  }
  .splide.is-focus-in .splide__slide:focus {
    border: 3px solid #0bf
  }
  .splide.is-focus-in .splide__track>.splide__list>.splide__slide:focus {
    border-color: #0bf
  }
}